[user]
	name = Simen Berge
	email = bergesimen@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
    ignoreCase = false

[alias]
	co = checkout
	br = branch
	ci = commit
    c = commit
	ca = commit --amend
	caa = commit -a --amend
	df = diff
	lg = log -p --pretty=fuller --abbrev-commit
	lgg = log --pretty=fuller --abbrev-commit --stat
	up = pull --rebase
	st = status
    s = status
    p = push --follow-tags
    pu = pull
    r = reset
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
	force-push = push --force-with-lease
	fp = force-push
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[fetch]
  prune = true
  
 [url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[include]
	path = /Users/sib/.gitconfig.local
[dotfiles]
	managed = true
[hub]
	protocol = ssh
[diff]
	colorMoved = default
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "

[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[init]
	defaultBranch = main
